{% extends "work_hours/hours_navbar.html" %}
{% load static %}
{% block hour %}
    <div class="bg border text-center rounded-5 cstm_clr">
        <h3 class="pt-4">{{ title1 }}</h3>
        <h4>{{ title2|title }}</h4>
        <section class="w-100 p-4 d-flex justify-content-center pd-4">
            <form method="POST"
                  enctype="multipart/form-data"
                  onsubmit="changeDateValue();">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-outline mb-4">
                        {{ field }}
                        <label class="form-label"  for="form2Example1">{{ field.label }}</label>
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary btn-block mb-4">{{ button }}</button>
            </form>
        </section>
    </div>
{% endblock hour %}
