asgiref==3.5.2
attrs==22.2.0
bandit==1.7.4
beautifulsoup4==4.11.1
black==22.10.0
Brlapi==0.8.4
btrfsutil==6.2.1
cffi==1.15.1
chardet==5.1.0
click==8.1.3
configobj==5.1.0.dev0
cryptography==39.0.2
distlib==0.3.6
Django==4.1.2
django-bootstrap-v5==1.0.11
django-stubs-ext==0.5.0
filelock==3.8.2
gitdb==4.0.9
GitPython==3.1.29
greenlet==2.0.2
idna==3.4
isort==5.10.1
libfdt==1.6.1
libtorrent==2.0.8
libvirt-python==9.1.0
louis==3.25.0
mccabe==0.7.0
msgpack==1.0.4
mypy-extensions==0.4.3
nftables==0.1
packaging==23.0
pathspec==0.10.1
pbr==5.11.0
Pillow==9.4.0
platformdirs==3.1.1
ply==3.11
psutil==5.9.4
psycopg2==2.9.5
pwquality==1.4.5
pycairo==1.23.0
pycodestyle==2.9.1
pycparser==2.21
pydocstyle==6.1.1
pyflakes==2.5.0
PyGObject==3.42.2
pynvim==0.4.3
PyYAML==6.0
Reflector==2021.11.20.2.41.3
requests==2.28.2
six==1.16.0
smmap==5.0.0
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
sqlparse==0.4.3
stevedore==4.1.0
team==1.0
terminator==2.1.2
tomli==2.0.1
types-pytz==2022.5.0.0
types-PyYAML==6.0.12
typing_extensions==4.5.0
urllib3==1.26.13
validate==5.1.0.dev0
virtualenv==20.17.1
