<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <title>VHMS - Vehicle House Management System</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{% static 'styles/img.css' %}">
        <link rel="stylesheet" href="{% static 'styles/css/bootstrap.css' %}">
        <link rel="stylesheet"
              href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script type="text/javascript"
                src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    </head>
    <body class="background_image">
        {% include "includes/navbar.html" %}
        <div class="container pt-4 ">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-{{ message.tags }}{% endif %} alert-dismissible fade show"
                         role="alert">
                        {{ message }}
                        <a type="button"
                           class="btn-close"
                           data-bs-dismiss="alert"
                           aria-label="Close"></a>
                    </div>
                {% endfor %}
            {% endif %}
            {% block mainapp %}
            {% endblock mainapp %}
        </div>
    </body>
</html>
