{% extends "houses/house_navbar.html" %}
{% block house %}
    <div class="pt-4 ">
        <div class="d-block overflow-auto position-relative" style="height:500px">
            <table class="table-striped table table-dark table-hover mb-0">
                <thead class="position-sticky">
                    <tr>
                        <th scope="col">Payment Type</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for payment in payments %}
                        <tr>
                            <td>
                                <a href="">{{ payment.name|title }}</a>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>
                                <a href="{% url 'edit-payment-types' payment.id %}">Edit</a>
                            </td>
                            <td>
                                <a href="{% url 'delete-payment-type' payment.id %}">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock house %}
